useDynLib(Segmentor3IsBack)
exportPattern("^[[:alpha:]]+")

export(	Segmentor,
	SelectModel,
	BestSegmentation)

exportClasses( Segmentor)

exportMethods(
		show,
		getData,
		getModel,
		getKmax,
		getOverdispersion,
		getMean,
		getBreaks,
		getParameters,
		getLikelihood,
		getCost,
		getPos,
		getCompression
)
